/* Estilos gerais do carrossel */
.car_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.car_home_header h1 {
  color: #ff5100;
  font-size: 3em;
  text-align: center;
  font-weight: 100;
  margin-top: 2em;
}

.car_home_header p{
  text-align: center;
  margin-bottom: 2em;
  font-style: oblique;
  color: #fff;
}
  
.car_card {
  background-color: rgba(0, 0, 0, 0.7); /* Preto com 50% de opacidade */
    border-radius: 10px;
    width: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    height:440px;
    box-shadow: 0px 4px 19px 3px rgba(0, 0, 0,1);
  -webkit-box-shadow: 0px 4px 19px 3px rgba(0, 0, 0,1);
  -moz-box-shadow: 0px 4px 19px 3px rgba(0, 0, 0,1);
}
 .car_card h4 {
  color: #fff;
  font-size: 2em;
  box-shadow: 1px 5px 6px -2px rgba(0, 0, 0,1);
-webkit-box-shadow: 1px 5px 6px -2px rgba(0, 0, 0,1);
-moz-box-shadow: 1px 5px 6px -2px rgba(0, 0, 0,1);
  margin-bottom: 1.5em;
 }


  .car_card:hover {
    transform: scale(1.05);
  }
  
  
  /* Carrossel Container */
  .carousel_container {
    position: relative;
    width: 100%;
    height: 200px; /* Defina uma altura para o carrossel */
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    background-color: #eaeaea; /* Cor de fundo para o carrossel quando sem imagem */
  }
  
  .car_card_image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
  }
  
  /* Botões de navegação */
  .carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .carousel_button.prev {
    left: 10px;
  }
  
  .carousel_button.next {
    right: 10px;
  }
  
  .carousel_button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Estilo do nome e detalhes do carro */
  h3 {
    font-size: 1.25rem;
    margin: 10px 0;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .car_card p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 10px;
  }
  
  /* Link de "Mais detalhes" */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    color: #3ddc35;
    text-decoration: none;
  }
  
  /* Texto de "Vendido" */
  .car_card .adopted_text {
    font-size: 1rem;
    color: #3ddc35;
    font-weight: bold;
  }


.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.filter_input {
  width: 200px;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.filter_input:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.filter_button{
  width: 50px;
  border-radius: 5px;
  height: 40px;
  background-color: #ff5100;
  color: #ccc;
  cursor: pointer;
  border: none;
  font-weight: bold;
}
.back{
  position: absolute;
  top: 100px;
  background-color: #ff5100;
  padding: 0.5em;
  color: #fff;
  border-radius: 5px;
}

.filter_button:hover,
.back:hover{
  background-color: rgba(0, 0, 0, 0.5); /* Preto com 50% de opacidade */
  color: #ff5100;
  border: 2px solid #ff5100;
}
  
@media (max-width: 480px) {
  .car_home_header h1 {  
    margin-top: 1.9em;
  }
  .car_card {
      width: 100%;
    }
  
  .carousel_container {
      height: 160px;  
    }
  .filters {
    display: flex;
    flex-direction:column;
    align-items: center;
    }
    .back{
      position: absolute;
      top: 100px;
      background-color: #ff5100;
      padding: 0.5em;
      color: #fff;
      border-radius: 5px;
    }

}
  