* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

h1 {
  color: #ff5100;
  margin-bottom: 1em;
  font-size: 2.1em;
}

.bold {
  font-weight:bold;
  font-size: 1.1em;
  color: #ff5100;
}


