.profile_header{
    text-align: center;
    margin-top: 7em;
    margin-bottom: 1em;
}
.profile_header img{
    margin-top: 2em;
}
.profile{
    font-size: 4em;
}
.perfil{
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin:0.2em ;
    color: #fff;
}
@media (max-width: 480px) {
    .profile_header{
        margin-top: 6em;
    }
}
